@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply sm:text-[40px] text-[32px] leading-normal;
  }

  h2 {
    @apply sm:text-[32px] text-[24px] font-bold leading-normal;
  }

  h3 {
    @apply xl:text-[28px] text-[24px] font-bold leading-normal;
  }

  h4 {
    @apply xl:text-[24px] text-[24px] font-bold leading-normal;
  }

  h5 {
    @apply xl:text-[20px] text-[20px] font-bold leading-normal;
  }

  h6 {
    @apply xl:text-[18px] text-base leading-normal;
  }

  html {
    @apply scrollbar-thumb-gray-300 scrollbar-track-transparent scrollbar-thumb-rounded-md scrollbar-track-rounded-md scrollbar-corner-rounded-md scrollbar-thin;
  }

  body {
    @apply font-inter text-base text-primary;
  }
}

@layer components {
  .py-block {
    @apply xl:py-[104px] md:py-16
  }

  .text-title {
    @apply xl:text-[64px] text-[52px] font-mantou leading-normal;
  }

  .text-remark {
    @apply text-[14px] leading-normal;
  }

  .text-gradientTheme {
    background: linear-gradient(90deg, #e5793b 1.54%, #ff4185 97.86%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gradientTheme {
    background: linear-gradient(90deg, #e6793b 1.54%, #ff4185 97.86%);
  }
}
